
body,
html {
  width: 100%;
  height: 100%; 
}

body {
    font-family: 'Montserrat', sans-serif;
  }
  
  hr {
    max-width: 65px;
    border-width: 3px;
    border-color: #F05F44; 
  }


  .faded {
    color: rgba(255, 255, 255, 0.8); 
  }

  header.startup {
    background-position: center;
    background-image: url("TT.jpg");
    background-size: cover;
    height: 100%;
  }

  header.startup hr {
    margin-top: 200px;
    margin-bottom: 14px; 
  }

  header.startup h1 {
    font-size: 2rem; 
  }
  
 header .btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    font-family: 'Montserrat', sans-serif;
  }

  header .btn-xl {
    padding: 1rem 2rem; 
  }

  header .btn-primary {
    background-color: #F05F44;
    border-color: #F05F44;
 }

 header .btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 5px;
    cursor: pointer;
  }

.reg {
    background-color: rgb(234, 233, 233);
    height: 100%;
  }

 section .btn {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }

 
